:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  row-gap: 0;
}
.navbar {
  --igx-navbar-text-color: var(--ig-surface-500);
  --igx-navbar-background: var(--ig-primary-900);
  height: max-content;
  min-width: min-content;
}
.nav-drawer {
  min-width: min-content;
  min-height: 0;
  max-width: 320px;
  flex-shrink: 0;
}
.view-container {
  overflow: auto;
  position: relative;
  flex-grow: 1;
}
.icon-button {
  --igx-button-foreground: var(--ig-surface-500);
}
.navbar-content {
  gap: 1rem;
}
.icon {
  color: var(--ig-surface-500);
}
.h6 {
  margin: 0;
}
.image {
  object-fit: cover;
  min-width: 0;
  min-height: 0;
}
.icon_1 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
}
