<igx-navbar class="navbar">
  <igx-navbar-action>
    <button igxRipple igxIconButton="flat" [igxToggleAction]="navDrawer" class="icon-button">
      <igx-icon class="icon">
        menu
      </igx-icon>
    </button>
  </igx-navbar-action>
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      Rn_agalcha
    </h6>
  </igx-navbar-title>
  <button igxRipple igxIconButton="flat" class="icon-button">
    <igx-icon class="icon">
      search
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat" class="icon-button">
    <igx-icon class="icon">
      favorite
    </igx-icon>
  </button>
  <button igxRipple igxIconButton="flat" class="icon-button">
    <igx-icon class="icon">
      more_vert
    </igx-icon>
  </button>
  <img class="image" />
</igx-navbar>
<div class="row-layout group">
  <igx-nav-drawer [isOpen]="true" [pin]="true" [pinThreshold]="0" width="320px" #navDrawer class="nav-drawer">
    <ng-template igxDrawer>
      <div igxDrawerItem igxRipple [routerLink]="['/view-1']">
        <igx-icon class="icon_1">
          home
        </igx-icon>
        <span>View 1</span>
      </div>
      <div igxDrawerItem igxRipple [routerLink]="['/view-2']">
        <igx-icon class="icon_1">
          dns
        </igx-icon>
        <span>View 2</span>
      </div>
      <div igxDrawerItem igxRipple [routerLink]="['/view-3']">
        <igx-icon class="icon_1">
          dashboard
        </igx-icon>
        <span>View 3</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
</div>
